{% extends "layout.twig" %}
{% block content %}

<section class="section main default-page">
	{{widget('ecomcheckout', 'ecomcheckout', {})|raw}}
	{{widget('ecomproductslist', 'ecomproductslist', {})|raw}}
	{{widget('ecomproduct', 'ecomproduct', {})|raw}}
</section>

{% endblock %}