<header class="template-header container">
	<div class="row">
		<div class="header-title span-3">
			{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</div>
		<div class="header-logo span-2">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.svg')})|raw}}
		</div>
		<nav class="template-nav span-7">
			{{widget('extendednavigation', 'navigationheader', {})|raw}}
			{% if page.request != 'checkout' %}
				{{widget('ecombasket', 'ecombasket', {})|raw}}
			{% endif %}
		</nav>
	</div>
</header>
