<header class="template-header container">
	<div class="row">
		<div class="header-title span-3">
			{{widget('companyname', 'companyname', {"business": ""})|raw}}
		</div>
		<div class="header-logo span-1">
			{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.svg')})|raw}}
		</div>
		<nav class="template-nav span-8">
			{{widget('extendednavigation', 'navigationheader', {})|raw}}
		</nav>
	</div>
</header>